.Movie {
    display: flex;
    justify-content: center;
    padding: 1rem;
    box-sizing: border-box;
}

.card-img-top {
    width: 300px;
    height: 450px;
    object-fit: cover;
}

.card-body {
    text-align: left;
}

.card-title {
    margin-bottom: 0;
}

.card {
    box-shadow: 1px 1px 6px rgba(0,0,0,.4);
    border: none;
}

@media screen and (max-width: 768px){
    .Movie {
        flex-basis: 50%;
    }
}

@media screen and (min-width: 769px){
    .Movie {
        flex-basis: 33.3333%;
    }
}